{% extends "base.html" %}

{% macro config_item(config, depends="") -%}
    <tr class="settings-item additional-config"
            {% if config.get('reboot') and enable_reboot %}reboot="true"{% endif %}
            {% if config.get('required') %}required="true"{% endif %}
            {% if config.get('strip') %}strip="true"{% endif %}
            {% if config.get('depends') %}depends="{{' '.join(config['depends'])}}{% if depends %} {{depends}}{% endif %}"{% endif %}
            {% if config.get('min') is not none %}min="{{config['min']}}"{% endif %}
            {% if config.get('max') is not none %}max="{{config['max']}}"{% endif %}
            {% if config.get('floating') %}floating="true"{% endif %}
            {% if config.get('sign') %}sign="true"{% endif %}
            {% if config.get('snap') is not none %}snap="{{config['snap']}}"{% endif %}
            {% if config.get('ticks') %}ticks="{{config['ticks']}}"{% endif %}
            {% if config.get('ticksnum') is not none %}ticksnum="{{config['ticksnum']}}"{% endif %}
            {% if config.get('decimals') is not none %}decimals="{{config['decimals']}}"{% endif %}
            {% if config.get('unit') %}unit="{{config['unit']}}"{% endif %}
            {% if config.get('validate') %}validate="{{config['validate']}}"{% endif %}>
        {% if config['type'] == 'separator' %}
        <td colspan="100"><div class="settings-item-separator"></div></td>
        {% else %}
        <td class="settings-item-label"><span class="settings-item-label">{{config['label']}}</span></td>
        <td class="settings-item-value">
            {% if config['type'] == 'str' %}
                <input type="text" class="styled {{config['section']}} {% if config.get('camera') %}camera{% else %}main{% endif %}-config" id="{{config['name']}}Entry">
                {% if config['unit'] %}<span class="settings-item-unit">{{config['unit']}}</span>{% endif %}
            {% elif config['type'] == 'pwd' %}
                <input type="password" autocomplete="new-password" class="styled {{config['section']}} {% if config.get('camera') %}camera{% else %}main{% endif %}-config" id="{{config['name']}}Entry">
            {% elif config['type'] == 'number' %}
                <input type="text" class="number styled {{config['section']}} {% if config.get('camera') %}camera{% else %}main{% endif %}-config" id="{{config['name']}}Entry">
                {% if config['unit'] %}<span class="settings-item-unit">{{config['unit']}}</span>{% endif %}
            {% elif config['type'] == 'range' %}
                <input type="text" class="range styled {{config['section']}} {% if config.get('camera') %}camera{% else %}main{% endif %}-config" id="{{config['name']}}Slider">
            {% elif config['type'] == 'bool' %}
                <input type="checkbox" class="styled {{config['section']}} {% if config.get('camera') %}camera{% else %}main{% endif %}-config" id="{{config['name']}}Switch">
            {% elif config['type'] == 'choices' %}
                <select class="styled {{config['section']}} {% if config.get('camera') %}camera{% else %}main{% endif %}-config" id="{{config['name']}}Select">
                    {% for choice in config['choices'] %}
                    <option value="{{choice[0]}}">{{choice[1]}}</option>
                    {% endfor %}
                </select>
                {% if config['unit'] %}<span class="settings-item-unit">{{config['unit']}}</span>{% endif %}
            {% elif config['type'] == 'html' %}
                <div class="html styled {{config['section']}} {% if config.get('camera') %}camera{% else %}main{% endif %}-config" id="{{config['name']}}Html"></div>
            {% endif %}
        </td>
        <td>{% if config.get('description') %}<span class="help-mark" title="{{config['description']}}">?</span>{% endif %}</td>
        {% endif %}
    </tr>
{%- endmacro %}

{% block title %}{% if title %}{{title}}{% else %}{{hostname}}{% endif %}{% endblock %}

{% block style %}
    {{super()}}
    <link rel="stylesheet" type="text/css" href="{{static_path}}css/ui.css?v={{version}}" />
    <link rel="stylesheet" type="text/css" href="{{static_path}}css/main.css?v={{version}}" />
    {% if frame %}
        <link rel="stylesheet" type="text/css" href="{{static_path}}css/frame.css?v={{version}}" />
    {% endif %}
{% endblock %}

{% block script %}
    {{super()}}
    <script type="text/javascript" src="{{static_path}}js/ui.js?v={{version}}"></script>
    <script type="text/javascript" src="{{static_path}}js/main.js?v={{version}}"></script>
    {% if frame %}
        <script type="text/javascript" src="{{static_path}}js/frame.js?v={{version}}"></script>
    {% endif %}
    <script type="text/javascript">
        var adminUsername = '{{admin_username}}';
        var frame = {% if frame %}true{% else %}false{% endif %};
        var hasLocalCamSupport = {% if has_motion %}true{% else %}false{% endif %};
        var hasNetCamSupport = {% if has_motion %}true{% else %}false{% endif %};
        {% if mask_width %}
        var maskWidth = {{mask_width}};
        {% endif %}
    </script>
{% endblock %}

{% block body %}
    {% if not frame %}
    <div class="header">
        <div class="header-container">
            <div class="settings-top-bar closed">
                <div class="button icon settings-button mouse-effect" title="Настройки"></div
                ><div class="button icon logout-button mouse-effect" "></div>
                <select class="styled" id="cameraSelect" {% if not add_remove_cameras %}style="display: none;"{% endif %}></select>
                <div class="button icon rem-camera-button mouse-effect" id="remCameraButton" title="Удалить камеру" {% if not add_remove_cameras %}style="display: none;"{% endif %}></div>
                <div class="button apply-button" id="applyButton">Применить</div>
<!--                {% if hostname %}<div class="hostname">{{hostname}}</div>{% endif %}-->
            </div>
            <div class="logo">
                <a href="">
                    <span class="logo">videoSRV</span>
                    <img class="logo" src="{{static_path}}img/motioneye-logo.svg">
                </a>
            </div>
        </div>
    </div>
    {% endif %}
    {% if not frame %}
    <div class="page">
        <div class="settings closed">
            <div class="settings-container">
                <form autocomplete="new-password">
                    <!-- Preferences -->
                    <div class="settings-section-title" id="preferencesDiv">

                        <a class="settings-section-title">Отображение</a>
                        <span class="minimize open"></span>
                    </div>
                    <table class="settings">
<!--                        <tr class="settings-item" min="1" max="4" snap="1" ticksnum="4" decimals="0" id="layoutColumnsRow">-->
<!--                            <td class="settings-item-label"><span class="settings-item-label">Layout Columns</span></td>-->
<!--                            <td class="settings-item-value"><input type="text" class="range styled prefs" id="layoutColumnsSlider"></td>-->

<!--                        </tr>-->
                        <tr style="display: none">
                            <td class="settings-item-label"><span class="settings-item-label">Fit Frames Vertically</span></td>
                            <td class="settings-item-value"><input type="checkbox" class="styled prefs" id="fitFramesVerticallySwitch"></td>

                        </tr>
                        <tr class="settings-item" min="1" max="4" snap="1" ticksnum="4" decimals="0" id="layoutRows" depends="fitFramesVertically">
                            <td class="settings-item-label"><span class="settings-item-label">Layout Rows</span></td>
                            <td class="settings-item-value"><input type="text" class="range styled prefs" id="layoutRowsSlider"></td>

                        </tr>
                        <tr class="settings-item" min="0" max="100" snap="2" ticksnum="6" decimals="0">
                            <td class="settings-item-label"><span class="settings-item-label">Частота кадров</span></td>
                            <td class="settings-item-value"><input type="text" class="range styled prefs" id="framerateDimmerSlider"></td>

                        </tr>
                        <tr class="settings-item" min="1" max="100" snap="2" ticks="1|20|40|60|80|100" decimals="0">
                            <td class="settings-item-label"><span class="settings-item-label">Качество изрбражения</span></td>
                            <td class="settings-item-value"><input type="text" class="range styled prefs" id="resolutionDimmerSlider"></td>

                        </tr>
                    </table>

                    <tr class="settings-item">
                        <td colspan="100"><div class="settings-item-separator" style="margin: 0px 0px 1.5em 0px;"></div></td>
                    </tr>

                    <!-- General Settings -->
                    <div class="settings-section-title" id="generalSectionDiv">

                        <a class="settings-section-title">Администрирование</a>
                        <span class="minimize open"></span>
                    </div>
                    <table class="settings">
                        <tr class="settings-item" required="true" strip="true">
                            <td class="settings-item-label"><span class="settings-item-label">Имя администратора</span></td>
                            <td class="settings-item-value"><input type="text" autocapitalize="none" class="styled general main-config" id="adminUsernameEntry" readonly="readonly"></td>

                        </tr>
                        <tr class="settings-item" strip="true">
                            <td class="settings-item-label"><span class="settings-item-label">Пароль администратора</span></td>
                            <td class="settings-item-value"><input type="password" autocomplete="new-password" class="styled general main-config" id="adminPasswordEntry"></td>

                        </tr>


                        {% for config in main_sections.get('general', {}).get('configs', []) %}
                            {{config_item(config)}}
                        {% endfor %}
                        <tr class="settings-item">
                            <td colspan="100"><div class="settings-item-separator"></div></td>
                        </tr>
                        <tr class="settings-item">
                            <td class="settings-item-label"><span class="settings-item-label">Версия ПО:</span></td>
                            <td class="settings-item-value"><span class="settings-item-label">{{version}}</span></td>
                        </tr>

                        {% if enable_update %}
                        <tr class="settings-item">
                            <td class="settings-item-label"><span class="settings-item-label">Software Update</span></td>
                            <td class="settings-item-value"><div class="button normal-button update-button" id="updateButton">Check</div></td>
                            <td><span class="help-mark" title="checks for new versions and performs updates">?</span></td>
                        </tr>
                        {% endif %}
                        <tr class="settings-item{% if not enable_reboot %} hidden{% endif %}">
                            <td class="settings-item-label"><span class="settings-item-label">Power</span></td>
                            <td class="settings-item-value"><div class="button normal-button shut-down-button" id="shutDownButton">Shut Down</div></td>
                            <td><span class="help-mark" title="shuts down the system">?</span></td>
                        </tr>
                        <tr class="settings-item{% if not enable_reboot %} hidden{% endif %}">
                            <td class="settings-item-label"><span class="settings-item-label"></span></td>
                            <td class="settings-item-value"><div class="button normal-button reboot-button" id="rebootButton">Reboot</div></td>
                            <td><span class="help-mark" title="reboots the system">?</span></td>
                        </tr>
                        <tr class="settings-item">
                            <td colspan="100"><div class="settings-item-separator"></div></td>
                        </tr>
                        <tr class="settings-item">
                            <td class="settings-item-label"><span class="settings-item-label">Конфигурация</span></td>
                            <td class="settings-item-value"><div class="button normal-button backup-button" id="backupButton">Сохранить</div></td>

                        </tr>
                        <tr class="settings-item">
                            <td class="settings-item-label"><span class="settings-item-label"></span></td>
                            <td class="settings-item-value"><div class="button normal-button restore-button" id="restoreButton">Загрузить</div></td>

                        </tr>
                    </table>

                    <!-- Additional Main Sections -->
                    {% for section in main_sections.values() %}
                    {% if section.get('label') and section.get('configs') %}
                    <div class="settings-section-title additional-section">
                        {% if section.get('onoff') %}<input type="checkbox" class="styled section additional-section {{section['name']}} main-config" id="{{section['name']}}Switch">{% endif %}
                        {% if section.get('description') %}<span class="help-mark" title="{{section['description']}}">?</span>{% endif %}
                        <a class="settings-section-title">{{section['label']}}</a>
                        <span class="minimize {% if section.get('open') %}open{% endif %}"></span>
                    </div>
                    <table class="settings">
                        {% for config in section['configs'] %}
                            {{config_item(config)}}
                        {% endfor %}
                    </table>
                    {% endif %}
                    {% endfor %}

                    <tr class="settings-item">
                        <td colspan="100"><div class="settings-item-separator" style="margin: 0px 0px 1.5em 0px;"></div></td>
                    </tr>

                    <!-- Video Device -->
                    <div class="settings-section-title" id="deviceSectionDiv">
                        <input type="checkbox" class="styled section device camera-config" id="videoDeviceEnabledSwitch">

                        <a class="settings-section-title">Настройки камеры</a>
                        <span class="minimize open"></span>
                    </div>
                    <table class="settings">
                        <tr class="settings-item" required="true" strip="true">
                            <td class="settings-item-label"><span class="settings-item-label">Имя камеры</span></td>
                            <td class="settings-item-value"><input type="text" class="styled device camera-config" id="deviceNameEntry" placeholder="camera name..."></td>

                        </tr>
                        <tr class="settings-item" required="true" strip="true">
                            <td class="settings-item-label"><span class="settings-item-label">ID камеры</span></td>
                            <td class="settings-item-value"><input type="text" class="styled device camera-config" id="deviceIdEntry" readonly="readonly"></td>

                        </tr>
                        <tr class="settings-item">
                            <td class="settings-item-label"><span class="settings-item-label">URL камеры</span></td>
                            <td class="settings-item-value"><input type="text" class="styled device camera-config" id="deviceUrlEntry" readonly="readonly"></td>
                        </tr>
                        <tr class="settings-item">
                            <td class="settings-item-label"><span class="settings-item-label">Тип камеры</span></td>
                            <td class="settings-item-value"><input type="text" class="styled device camera-config" id="deviceTypeEntry" readonly="readonly"></td>
                        </tr>
                        <tr class="settings-item">
                            <td colspan="100"><div class="settings-item-separator"></div></td>
                        </tr>

                        <tr class="settings-item">
                            <td colspan="100"><div class="settings-item-separator"></div></td>
                        </tr>
                        <tr class="settings-item">
                            <td class="settings-item-label"><span class="settings-item-label">Разрешение</span></td>
                            <td class="settings-item-value">
                                <select class="video-resolution styled device camera-config" id="resolutionSelect">
                                </select>
                            </td>

                        </tr>
<
                        <tr class="settings-item">
                            <td class="settings-item-label"><span class="settings-item-label">Поворот видео</span></td>
                            <td class="settings-item-value">
                                <select class="rotation styled device camera-config" id="rotationSelect">
                                    <option value="0">0&deg;</option>
                                    <option value="90">90&deg;</option>
                                    <option value="180">180&deg;</option>
                                    <option value="270">270&deg;</option>
                                </select>
                            </td>

                        </tr>
                        <tr class="settings-item" min="5" max="15" snap="0" ticks="5|10|15" decimals="0">
                            <td class="settings-item-label"><span class="settings-item-label">Частота кадров</span></td>
                            <td class="settings-item-value"><input type="text" class="range styled device camera-config" id="framerateSlider"></td>

                        </tr>

                        {% for config in camera_sections.get('device', {}).get('configs', []) %}
                            {{config_item(config)}}
                        {% endfor %}
                    </table>



                    <!-- Text Overlay -->
                    <div class="settings-section-title" id="textOverlaySectionDiv">
                        <input type="checkbox" class="styled section text-overlay camera-config" id="textOverlayEnabledSwitch">

                        <a class="settings-section-title">Графическая подпись</a>
                        <span class="minimize"></span>
                    </div>
                    <table class="settings">
                        <tr class="settings-item">
                            <td class="settings-item-label"><span class="settings-item-label">Левый угол</span></td>
                            <td class="settings-item-value">
                                <select class="styled text-overlay camera-config" id="leftTextTypeSelect">
                                    <option value="camera-name">Имя камеры</option>
                                    <option value="timestamp">Время</option>
                                    <option value="disabled">Отключено</option>
                                </select>
                            </td>

                        </tr>
                        <tr class="settings-item" required="true" depends="leftTextType=custom-text" strip="true">
                            <td class="settings-item-label"></td>
                            <td class="settings-item-value"><input type="text" class="styled text-overlay camera-config" id="leftTextEntry" placeholder="custom text..."></td>

                        </tr>
                        <tr class="settings-item">
                            <td class="settings-item-label"><span class="settings-item-label">Правый угол</span></td>
                            <td class="settings-item-value">
                                <select class="styled text-overlay camera-config" id="rightTextTypeSelect">
                                    <option value="camera-name">Имя камеры</option>
                                    <option value="timestamp">Время</option>
                                    <option value="disabled">Отключено</option>
                                </select>
                            </td>

                        </tr>
                        <tr class="settings-item" required="true" depends="rightTextType=custom-text" strip="true">
                            <td class="settings-item-label"></td>
                            <td class="settings-item-value"><input type="text" class="styled text-overlay camera-config" id="rightTextEntry" placeholder="custom text..."></td>

                        </tr>
                        <tr class="settings-item" min="1" max="10" snap="1" ticksnum="10" decimals="0">
                            <td class="settings-item-label"><span class="settings-item-label">Размер текста</span></td>
                            <td class="settings-item-value"><input type="text" class="range styled text-overlay camera-config" id="textScaleSlider"></td>

                        </tr>
                        {% for config in camera_sections.get('text-overlay', {}).get('configs', []) %}
                            {{config_item(config)}}
                        {% endfor %}
                    </table>

                    <!-- Video Streaming -->
                    <div class="settings-section-title" minimize-switch-independent="true" id="streamingSectionDiv">
                        <input type="checkbox" class="styled section streaming camera-config" id="videoStreamingEnabledSwitch">
                        <a class="settings-section-title">Трансляция</a>
                        <span class="minimize"></span>
                    </div>
                    <table class="settings">
                        <tr class="settings-item" min="1" max="15" snap="0" ticks="1|5|10|15" decimals="0">
                            <td class="settings-item-label"><span class="settings-item-label">Частота кадров</span></td>
                            <td class="settings-item-value"><input type="text" class="range styled streaming camera-config" id="streamingFramerateSlider"></td>

                        </tr>
                        <tr class="settings-item" min="0" max="100" snap="2" ticksnum="5" decimals="0" unit="%">
                            <td class="settings-item-label"><span class="settings-item-label">Качество потока</span></td>
                            <td class="settings-item-value"><input type="text" class="range styled streaming camera-config" id="streamingQualitySlider"></td>
                        </tr>
                        <tr style="display: none">
                            <td class="settings-item-label"><span class="settings-item-label">Изменение изображения</span></td>
                            <td class="settings-item-value"><input type="checkbox" class="styled streaming camera-config" id="streamingServerResizeSwitch"></td>

                        </tr>
                        <tr class="settings-item" min="0" max="100" snap="2" ticksnum="5" decimals="0" unit="%" depends="streamingServerResize">
                            <td class="settings-item-label"><span class="settings-item-label">Streaming Resolution</span></td>
                            <td class="settings-item-value"><input type="text" class="range styled streaming camera-config" id="streamingResolutionSlider"></td>

                        </tr>
                        <tr class="settings-item" min="1024" max="65535" depends="videoStreamingEnabled" required="true">
                            <td class="settings-item-label"><span class="settings-item-label">Порт</span></td>
                            <td class="settings-item-value"><input type="text" class="styled streaming camera-config" id="streamingPortEntry"></td>
                        </tr>
                        <tr style="display: none" depends="videoStreamingEnabled">
                            <td class="settings-item-label"><span class="settings-item-label">Authentication Mode</span></td>
                            <td class="settings-item-value">
                                <select class="styled streaming camera-config" id="streamingAuthModeSelect">
                                    <option value="disabled">Disabled</option>
                                    <option value="basic">Basic</option>
                                    <option value="digest">Digest</option>
                                </select>
                            </td>

                        </tr>
                        <tr style="display: none">
                            <td class="settings-item-label"><span class="settings-item-label">Motion Optimization</span></td>
                            <td class="settings-item-value"><input type="checkbox" class="styled streaming camera-config" id="streamingMotion"></td>

                        </tr>
                        <tr class="settings-item" depends="videoStreamingEnabled">
                            <td colspan="100"><div class="settings-item-separator"></div></td>
                        </tr>
                        <tr class="settings-item">
                            <td class="settings-item-label"><span class="settings-item-label">Useful URLs</span></td>
                            <td class="settings-item-value">
                                <div class="html styled streaming camera-config" id="streamingSnapshotUrlHtml">
                                    <a href="javascript:showSnapshotUrl()">Snapshot URL</a>
                                </div>
                            </td>
                            <td><span class="help-mark" title="a URL that provides a JPEG image with the most recent snapshot of the camera">?</span></td>
                        </tr>
                        <tr class="settings-item">
                            <td class="settings-item-label"></td>
                            <td class="settings-item-value">
                                <div class="html styled streaming camera-config" id="streamingMjpgUrlHtml">
                                    <a href="javascript:showMjpgUrl()">Streaming URL</a>
                                </div>
                            </td>
                            <td><span class="help-mark" title="a URL that provides a MJPEG stream of the camera">?</span></td>
                        </tr>
                        <tr class="settings-item">
                            <td class="settings-item-label"></td>
                            <td class="settings-item-value">
                                <div class="html styled streaming camera-config" id="streamingEmbedUrlHtml">
                                    <a href="javascript:showEmbedUrl()">Embed URL</a>
                                </div>
                            </td>
                            <td><span class="help-mark" title="a URL that provides a minimal HTML document containing the camera frame, ready to be embedded">?</span></td>
                        </tr>
                        {% for config in camera_sections.get('streaming', {}).get('configs', []) %}
                            {{config_item(config)}}
                        {% endfor %}
                    </table>



                    <!-- Movies -->
                    <div class="settings-section-title" id="moviesSectionDiv">
                        <input type="checkbox" class="styled section movies camera-config" id="moviesEnabledSwitch">

                        <a class="settings-section-title">Запись видео</a>
                        <span class="minimize"></span>
                    </div>
                    <table class="settings">
                        <tr class="settings-item" required="true" strip="true">
                            <td class="settings-item-label"><span class="settings-item-label">Имя файла</span></td>
                            <td class="settings-item-value"><input type="text" class="styled movies camera-config" id="movieFileNameEntry" placeholder="file name pattern..."></td>
                            <td><span class="help-mark" title="задайте имя сохраняемого файла: %Y = год, %m = месяц, %d = день, %H = час, %M = минуты, %S = секунды">?</span></td>
                        </tr>
                        <tr class="settings-item">
                            <td class="settings-item-label"><span class="settings-item-label">Выбор формата</span></td>
                            <td class="settings-item-value"><input type="checkbox" class="styled movies camera-config" id="moviePassthroughSwitch"></td>

                        </tr>
                        <tr class="settings-item" depends="!moviePassthrough">
                            <td class="settings-item-label"><span class="settings-item-label">Формат видео</span></td>
                            <td class="settings-item-value">
                                <select class="styled movies camera-config" id="movieFormatSelect" >
                                    <option value="mpeg4">MPEG4 (.avi)</option>
                                    <option value="mp4">H.264 (.mp4)</option>

                                </select>
                            </td>

                        </tr>
                        <tr class="settings-item" min="0" max="100" snap="2" ticksnum="5" decimals="0" unit="%">
                            <td class="settings-item-label"><span class="settings-item-label">Качество изображения</span></td>
                            <td class="settings-item-value"><input type="text" class="range styled movies camera-config" id="movieQualitySlider"></td>

                        </tr>
                        <tr class="settings-item">
                            <td class="settings-item-label"><span class="settings-item-label">Recording Mode</span></td>
                            <td class="settings-item-value">
                                <select class="styled movies camera-config" id="recordingModeSelect">
                                    <option value="motion-triggered">Motion Triggered</option>
                                    <option value="continuous">Continuous Recording</option>
                                </select>
                            </td>
                            <td><span class="help-mark" title="sets the recording mode: Motion Triggered = a new movie created whenever motion is detected, Continuous Recording = one big movie file">?</span></td>
                        </tr>
                        <tr class="settings-item" min="0" max="86400" required="true">
                            <td class="settings-item-label"><span class="settings-item-label">Длительность записи</span></td>
                            <td class="settings-item-value"><input type="text" class="number styled movies camera-config" id="maxMovieLengthEntry"><span class="settings-item-unit">секунд</span></td>
                            <td><span class="help-mark" title="Задайте длительность записи видео, измеряется в секундах">?</span></td>
                        </tr>
                        <tr class="settings-item">
                            <td class="settings-item-label"><span class="settings-item-label">Длительность хранения записей</span></td>
                            <td class="settings-item-value">
                                <select class="styled movies camera-config" id="preserveMoviesSelect">
                                    <option value="7">Неделя</option>
                                    <option value="-1">Свое значение</option>
                                </select>
                            </td>
                            <td><span class="help-mark" title="Данный параметр определяет сколько дней хранить видеозаписи">?</span></td>
                        </tr>
                        <tr class="settings-item" min="1" max="3650" depends="preserveMovies=-1" required="true">
                            <td class="settings-item-label"><span class="settings-item-label">Количество дней</span></td>
                            <td class="settings-item-value"><input type="text" class="styled number movies camera-config" id="moviesLifetimeEntry"><span class="settings-item-unit">дни</span></td>
                            <td><span class="help-mark" title="Установите количество дней сколько требуется хранить видео. Не рекомендуется устанавливать более 15 дней">?</span></td>
                        </tr>
                        {% for config in camera_sections.get('movies', {}).get('configs', []) %}
                            {{config_item(config)}}
                        {% endfor %}
                    </table>



                    <!-- Additional Camera Sections -->
                    {% for section in camera_sections.values() %}
                    {% if section.get('label') and section.get('configs') %}
                    <div class="settings-section-title">
                        {% if section.get('onoff') %}<input type="checkbox" class="styled section additional-section {{section['name']}} camera-config" id="{{section['name']}}Switch">{% endif %}
                        {% if section.get('description') %}<span class="help-mark" title="{{section['description']}}">?</span>{% endif %}
                        <a class="settings-section-title">{{section['label']}}</a>
                        <span class="minimize {% if section.get('open') %}open{% endif %}"></span>
                    </div>
                    <table class="settings">
                        {% for config in section['configs'] %}
                            {{config_item(config)}}
                        {% endfor %}
                    </table>
                    {% endif %}
                    {% endfor %}

                    <div class="settings-progress"></div>
                </form>
            </div>
        </div>
        <img class="background-logo" src="{{static_path}}img/olvia-bg.svg" onmousedown="return false;">
        <div class="page-container"></div>
        <div class="footer">
            <div class="copyright-note">OLVIA &copy; 1993-2022</div>
        </div>
    </div>
    {% else %}
        <div class="camera-frame" id="camera{{camera_id}}"
                streaming_framerate="{{camera_config['stream_maxrate']}}" streaming_server_resize="{{camera_config['@webcam_server_resize']|string|lower}}"
                proto="{{camera_config['@proto']}}" url="{{camera_config['@url']}}">

            <div class="camera-container">
                <div class="camera-placeholder"><img class="no-camera" src="{{static_path}}img/no-camera.svg"></div><img
                    class="camera"><div class="camera-progress"><img class="camera-progress"></div>
            </div>
        </div>
    {% endif %}
    <div class="modal-glass"></div>
    <div class="modal-container"></div>
    <div class="popup-message-container"></div>
{% endblock %}
